<style>
  body {
    background-image: url("<%= asset_path('bg-signup.jpg') %>");
  }
</style>
<br><br><br><br><br>
<div class="col-md-12">
  <div class="card rounded-0">
    <div class="card-header">
      <h4>
        <%= fa_icon "edit" %> Sistema de Evaluación Docente
      </h4>
    </div>
    <div class="card-body">
      <%= render 'form', evaluation: @evaluation %>
    </div>
    <div class="card-footer text-right">
      <%= link_to :root, class: "btn btn-light" do %>
        Volver
      <% end %>
      <button type='submit' name='commit' class='btn btn-success' form='new_evaluation'>
        <%= fa_icon "save" %> Crear formulario
      </button>
    </div>
  </div>
</div>
<br>