<div class="col-md-9 mx-auto">
  <div class="card">
    <div class="card-header bg-success text-white">
      <h4><%= fa_icon "business-time" %> Asignar credito de <%= @meeting.name %></h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <p>
            <strong>Crédito / duración: </strong><%= format_number(@meeting.credit) %>
            <%= hidden_field :meeting, :credit %>
          </p>
        </div>
      </div>
      <%=  simple_form_for(@meeting) do |f| %>
        <table class="table table-sm">
          <thead>
            <tr class="">
              <th>Profesor</th>
              <th>Asistencia</th>
              <th>Crédito</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="teacher_meetings">    
            <%= f.simple_fields_for :teacher_meetings, @meeting.teacher_meetings.joins(teacher: :profile).order("profiles.last_name") do |form_quantity| %>
              <%= render "teacher_meeting_fields", f: form_quantity %>
            <% end %>
          </tbody>
        </table>
        <%= link_to_add_association f, :teacher_meetings, class: 'btn btn-primary btn-sm', id: 'add-nested',
          data: {"association-insertion-node" => "tbody.teacher_meetings", "association-insertion-method" => "append"} do %>
          <%= fa_icon "plus" %>
          Agregar docente
        <% end %>
      <% end %>
    </div>
    <div class="card-footer">
      <button type='submit' name='commit' class='btn btn-success float-right' form='edit_meeting_<%= @meeting.id %>'>
        <%= fa_icon "save" %> Guardar cambios
      </button>
      <%= link_to meetings_path, class: "btn btn-light float-right mr-2" do %>
        Volver
      <% end %>
    </div>
  </div>
</div>