<div class="card">
  <div class="card-header">
    <h4><%= fa_icon "eye" %> Viendo <%= @meeting.name %></h4>
  </div>
  <div class="card-body">
    <div class="row">
      <p class="col-md-3">
        <strong>Nombre:</strong>
        <%= @meeting.name %>
      </p>
      <p class="col-md-3">
        <strong>Crédito / duración:</strong>
        <%= format_number(@meeting.credit) %> <%= @meeting.unity.downcase.pluralize(@meeting.credit) %>
      </p>
      <p class="col-md-3">
        <strong>Fecha:</strong>
        <%= @meeting.since_date.strftime("%d/%m/%Y %M:%H") %>
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if @meeting.teachers.present? %>
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Docente</th>
                <th>Asistencia</th>
                <th>Crédito</th>
              </tr>
            </thead>
            <tbody>
              <% @meeting.teacher_meetings.each do |teacher_meeting| %>
                <tr>
                  <td><%= teacher_meeting.teacher_fullname %></td>
                  <td><%= teacher_meeting.assistance_status.present? ? teacher_meeting.assistance_status.name : "---" %></td>
                  <td><%= format_number(teacher_meeting.total_credit) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if @meeting.observation.present? %>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to meetings_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <%= link_to edit_meeting_path(@meeting), class: "btn btn-warning mr-1" do %>
      <%= fa_icon "edit" %>
      Editar
    <% end %>
    <%= link_to assign_dedication_meeting_path(@meeting), class: 'btn btn-success' do %>
      <%= fa_icon "business-time" %>
      Asignar dedicaciones
    <% end %>
  </div>
</div>