<tr id="extension_activity_<%=extension_activity.id%>">
  <td><%= extension_activity.name %></td>
  <td><%= extension_activity.career.present? ? extension_activity.career_name : "" %></td>
  <td><span class="badge badge-secondary"><%= extension_activity.teachers.count %></span></td>
  <td class="text-right">
    <% if policy(extension_activity).show? %>
      <%= link_to extension_activity_path(extension_activity), class: 'btn btn-secondary btn-md', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(extension_activity).assign_dedication? %>
      <%= link_to assign_dedication_extension_activity_path(extension_activity), class: 'btn btn-success btn-md', 
        title: 'Asignar dedicaciones', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "business-time" %>
      <% end %>
    <% end %>
    <% if policy(extension_activity).edit? %>
      <%= link_to edit_extension_activity_path(extension_activity), class: 'btn btn-warning btn-md', 
        title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "edit" %>
      <% end %>
    <% end %>
    <% if policy(extension_activity).destroy? %>
      <%= link_to delete_extension_activity_path(extension_activity), remote: true,
        class: 'btn btn-danger btn-md', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>