<div class="card">
  <div class="card-header">
    <h4><%= fa_icon "eye" %> Viendo actividad <%= @extension_activity.name %></h4>
  </div>
  <div class="card-body fixed-panel">
    <div class="row">
      <div class="col-12">
        <p>
          <strong>Nombre:</strong>
          <%= @extension_activity.name %>
        </p>
        <p>
          <strong>Observaciones: </strong>
          <%= @extension_activity.observation.present? ? @extension_activity.observation : "----" %>
        </p>
        <p>
          <strong>Tipo de actividad: </strong>
          <%= @extension_activity.extension_activity_type_name %>
        </p>
      </div>
      <div class="col-3">
        <strong>Implementación:</strong>
        <%= @extension_activity.implementation %>
      </div>
      <div class="col-3">
        <strong>Preparación:</strong>
        <%= @extension_activity.preparation %>
      </div>
      <div class="col-3">
        <strong>Evaluación/consultas:</strong>
        <%= @extension_activity.evaluation %>
      </div>
      <div class="col-3">
        <strong>Crédito:</strong>
        <%= @extension_activity.credit %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p>
          <strong>Docentes:</strong>
          <ul class="list-group">
            <% @extension_activity.teachers.each do |teacher| %>
              <li class="list-group-item"><%= teacher.fullname %></li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to extension_activities_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <% if policy(@extension_activity).edit? %>
      <%= link_to edit_extension_activity_path(@extension_activity), class: "btn btn-warning mr-1" do %>
        <%= fa_icon "edit" %>
        Editar
      <% end %>
    <% end %>
    <!-- <% if policy(@extension_activity).assign_dedication? %>
      <%= link_to assign_dedication_extension_activity_path(@extension_activity), class: 'btn btn-success' do %>
        <%= fa_icon "business-time" %>
        Asignar dedicaciones
      <% end %>
    <% end %> -->
  </div>
</div>