<ul class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Asignaturas', assignatures_path %></li>
  <li class="breadcrumb-item active">Asignar dedicación</li>
</ul>
<div class="col-md-9 mx-auto">
  <div class="card">
    <div class="card-header bg-success text-white">
      <h4><%= fa_icon "business-time" %> Asignar dedicación de <%= @assignature.name %></h4>
    </div>
    <div class="card-body">
      <%=  simple_form_for(@assignature) do |f| %>
        <table class="table table-hover table-sm">
          <thead>
            <tr class="table-bordered">
              <th rowspan="2">Profesor</th>
              <th colspan="3" class="text-center">Tiempo(h)</th>
              <th rowspan="2">Crédito</th>
            </tr>
            <tr class="table-bordered">
              <th>Preparación</th>
              <th>Dictado</th>
              <th>Consulta/exámen</th>
            </tr>
          </thead>
          <tbody class="teacher_assignatures">
            <%= f.simple_fields_for :teacher_assignatures, @assignature.teacher_assignatures.joins(teacher: :profile).order("profiles.last_name") do |form_quantity| %>
              <%= render "teacher_assignature_fields", f: form_quantity %>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <p>
        <strong>Observación:</strong>
        <%= @assignature.observation %>
      </p>
    </div>
    <div class="card-footer">
      <button type='submit' name='commit' class='btn btn-success float-right' form='edit_assignature_<%= @assignature.id %>'>
        <%= fa_icon "save" %> Guardar cambios
      </button>
      <%= link_to assignatures_path, class: "btn btn-light float-right mr-2" do %>
        Volver
      <% end %>
    </div>
  </div>
</div>