<div class="col-md-8 mx-auto">
<div class="card">
  <div class="card-header bg-warning">
    <h4><%= fa_icon "edit" %> Editando asignatura</h4>
  </div>
  <div class="card-body">
    <%= render 'form', assignature: @assignature %>
  </div>
  <div class="card-footer text-right">
    <%= link_to assignatures_path, class: "btn btn-light" do %>
      Volver
    <% end %>
    <%= link_to @assignature, class: "btn btn-secondary" do %>
      <%= fa_icon "eye" %> Ver
    <% end %>
    <button type='submit' name='commit' class='btn btn-success' form='edit_assignature_<%= @assignature.id %>'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
  </div>
</div>
</div>