<div class="card">
  <div class="card-header">
    <h3 class="title">
      <%= fa_icon "chalkboard-teacher" %> Asignaturas
      <%= link_to new_assignature_path, class: "btn btn-outline-primary" do %>
        <%= fa_icon "plus" %> 
        Nueva
      <% end %>
    </h3>
  </div>
  <div class="card-body">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Carrera</th>
          <th>Docentes</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @assignatures.each do |assignature| %>
          <tr>
            <td><%= assignature.name %></td>
            <td><%= assignature.career.present? ? assignature.career_name : "" %></td>
            <td><span class="badge badge-secondary"><%= assignature.teachers.count %></span></td>
            <td class="float-right">
              <%= link_to assignature_path(assignature), class: 'btn btn-outline-secondary btn-md', 
                title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "eye" %>
              <% end %>
              <%= link_to assign_dedication_assignature_path(assignature), class: 'btn btn-outline-success btn-md', 
                title: 'Asignar dedicaciones', data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "business-time" %>
              <% end %>
              <%= link_to edit_assignature_path(assignature), class: 'btn btn-outline-warning btn-md', 
                title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "edit" %>
              <% end %>
              <%= link_to delete_assignature_path(assignature), remote: true,
                class: 'btn btn-outline-danger btn-md', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
                <%= fa_icon "trash" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
