<ul class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Asignaturas', assignatures_path %></li>
  <li class="breadcrumb-item active">Nueva asignatura</li>
</ul>
<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><%= fa_icon "plus" %> Nueva asignatura</h4>
    </div>
    <div class="card-body">
      <%= render 'form', assignature: @assignature %>
    </div>
    <div class="card-footer">
      <button type='submit' name='commit' class='btn btn-success float-right' form='new_assignature'>
        <%= fa_icon "check" %> Crear asignatura
      </button>
      <%= link_to assignatures_path, class: "btn btn-light float-right mr-2" do %>
        Volver
      <% end %>
    </div>
  </div>
</div>