<ul class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'Inicio', root_path %></li>
  <li class="breadcrumb-item"><%= link_to 'Asignaturas', assignatures_path %></li>
  <li class="breadcrumb-item active">Viendo asignatura <%= @assignature.name %></li>
</ul>
<div class="card">
  <div class="card-header">
    <h4><%= fa_icon "eye" %> Viendo asignatura <%= @assignature.name %></h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
      <p>
        <strong>Nombre:</strong>
        <%= @assignature.name %>
      </p>

      <p>
        <strong>Preparación mínima / máxima:</strong>
        <%= @assignature.min_preparation %> - <%= @assignature.preparation %> 
      </p>

      <p>
        <strong>Implementación mínima / máxima:</strong>
        <%= @assignature.min_implementation %> - <%= @assignature.implementation %>
      </p>

      <p>
        <strong>Consulta mínima / máxima:</strong>
        <%= @assignature.min_consultation %> - <%= @assignature.consultation %>
      </p>

      <p>
        <strong>Crédito mínimo / máximo:</strong>
        <%= @assignature.min_credit %> - <%= @assignature.credit %>
      </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Carrera:</strong>
          <%= @assignature.career.name %>
        </p>
        <p>
          <strong>Docentes:</strong>
          <% @assignature.teachers.each do |teacher| %>
            <%= teacher.fullname %><%= teacher == @assignature.teachers.last ? ".": "," %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to assignatures_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <%= link_to edit_assignature_path(@assignature), class: "btn btn-warning mr-1" do %>
      <%= fa_icon "edit" %>
      Editar
    <% end %>
    <%= link_to assign_dedication_assignature_path(@assignature), class: 'btn btn-success' do %>
      <%= fa_icon "business-time" %>
      Asignar dedicaciones
    <% end %>
  </div>
</div>