<div class="card">
  <div class="card-header">
    <h5><%= fa_icon "eye" %> Viendo académica <%= @assignature.name %></h5>
  </div>
  <div class="card-body fixed-panel">
    <div class="row">
      <div class="col-4">
        <p>
          <strong>Nombre:</strong>
          <%= @assignature.name %>
        </p>
      </div>
      <div class="col-5">
        <p>
          <strong>Observaciones: </strong>
          <%= @assignature.observation %>
        </p>
      </div>
      <div class="col-3">
        <p>
          <strong>Carrera:</strong>
          <%= @assignature.career.name %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="card">
          <table class="table table-hover table-sm">
            <thead>
              <tr class="table-bordered">
                <th rowspan="2">Profesor</th>
                <th colspan="4" class="text-center">Tiempo(h)</th>
                <th rowspan="2">Crédito</th>
              </tr>
              <tr class="table-bordered">
                <th>Dictado</th>
                <th>Preparación <small><%= number_to_percent(Config.first.assignature_preparation_percentage) %></small></th>
                <th>Semanas/cursado</th>
                <th>Consulta/Exámen <small><%= number_to_percent(Config.first.assignature_consultation_percentage) %></small></th>
              </tr>
            </thead>
            <tbody class="teacher_assignatures">
              <% @assignature.teacher_assignatures.each do |ta| %>
                <tr>
                  <td><%= ta.teacher_fullname %></td>
                  <td><%= format_number(ta.implementation) %></td>
                  <td><%= format_number(ta.preparation) %></td>
                  <td><%= format_number(ta.consultation) %></td>
                  <td><%= format_number(ta.weeks) %></td>
                  <td><%= format_number(ta.total_credit) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to assignatures_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <% if policy(@assignature).edit? %>
      <%= link_to edit_assignature_path(@assignature), class: "btn btn-warning mr-1" do %>
        <%= fa_icon "edit" %>
        Editar
      <% end %>
    <% end %>
    <% if policy(@assignature).assign_dedication? %>
      <%= link_to assign_dedication_assignature_path(@assignature), class: 'btn btn-success' do %>
        <%= fa_icon "business-time" %>
        Asignar dedicaciones
      <% end %>
    <% end %>
  </div>
</div>