<%=  simple_form_for(month_presence) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-3">
      <%= f.input :month_date, as: :tempus_dominus,
        label: "Mes",
        input_html: {
          placeholder: "Elegir una fecha",
          class: "input-sm",
          value: "#{f.object.month_date.strftime("%m/%y")}"
        },
        html5: false 
      %>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <table class="table table-sm">
          <thead>
            <tr class="">
              <th>Profesor</th>
              <th>Horas hábiles</th>
              <th>% de asistencia</th>
            </tr>
          </thead>
          <tbody class="teacher_meetings">
            <%= f.simple_fields_for :teacher_month_presences do |teacher_presence| %>
              <tr>
                <td>
                  <%= teacher_presence.object.teacher_fullname %>
                  <%= teacher_presence.hidden_field :teacher_id, value: "#{teacher_presence.object.teacher_id}" %>
                </td>
                <td>
                  <%= format_number(teacher_presence.object.presence_time) %>
                  <%= teacher_presence.hidden_field :presence_time, value: "#{teacher_presence.object.presence_time}" %>
                </td>
                <td>
                  <%= teacher_presence.input :presence_percent,
                    label: false,
                    required: true,
                    :input_html => {
                      :maxlength =>100,
                      :style=> 'width: 100px',
                      class: "form-control",
                    }
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>