<%=  simple_form_for(month_presence) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-3">
      <%= f.input :month_date, as: :tempus_dominus,
        label: "Mes",
        input_html: {
          placeholder: "Elegir una fecha",
          class: "input-sm",
        },
        html5: false 
      %>
    </div>
    
    <table class="table table-sm">
      <thead>
        <tr class="">
          <th>Profesor</th>
          <th>Horas hábiles</th>
          <th>% de asistencia</th>
        </tr>
      </thead>
      <tbody class="teacher_meetings">
        <%= f.simple_fields_for :teacher_month_presence do |teacher_presence| %>
          <td><%= teacher_presence.object.teacher_fullname %></td>
          <td><%= teacher_presence.object.presence_time %></td>
          <td>
            <%= teacher_presence.input :presence_percent,
              label: false,
              required: true,
              :input_html => {
                class: "form-control",
                size: 20
              }
            %>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>