<div class="card">
  <div class="card-header">
    <h5><%= fa_icon "eye" %> Viendo asistencia de <%= l(@month_presence.month_date, format: '%B %Y') %></h5>
  </div>
  <div class="card-body fixed-panel">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="card">
          <table class="table table-sm">
            <thead>
              <tr class="">
                <th>Profesor</th>
                <th>Horas hábiles</th>
                <th>% de asistencia</th>
              </tr>
            </thead>
            <tbody class="teacher_meetings">
              <% @month_presence.teacher_month_presences.each do |teacher_presence| %>
                <tr>
                  <td><%= teacher_presence.teacher_fullname %></td>
                  <td><%= format_number(teacher_presence.presence_time) %></td>
                  <td><%= format_number(teacher_presence.presence_percent) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to month_presences_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <% if policy(@month_presence).edit? %>
      <%= link_to edit_month_presence_path(@month_presence), class: "btn btn-warning mr-1" do %>
        <%= fa_icon "edit" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>