<div class="card">
  <div class="card-header">
    <h4><%= fa_icon "eye" %> Viendo asistencia de <%= l(@month_presence.month_date, format: '%B %Y') %></h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
      <p>
        <strong>Docentes:</strong>
          <% @month_presence.teachers.each do |teacher| %>
            <%= teacher.fullname %><%= teacher == @month_presence.teachers.last ? ".": "," %>
          <% end %>
      </p>
      </div>      
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to month_presences_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <%= link_to edit_month_presence_path(@month_presence), class: "btn btn-warning mr-1" do %>
      <%= fa_icon "edit" %>
      Editar
    <% end %>
  </div>
</div>