<tr class="nested-fields">
  <td style="width:25%">
    <%= f.collection_select :teacher_id, @teachers, :id, :fullname, {label: false }, 
      { class: "selectpicker", size: 6, :data => {width: "250px"},
        "data-none-results-text" => "No se encontró docente", "data-live-search"=>true,
        "title"=>"Seleccionar", value: "#{ f.object.teacher.present? ? f.object.teacher.id : "" }"
      }
    %>
  </td>
  <td>
    <%= f.input :quantity, label: false, 
      :input_html => { 
        class: 'quantity',
        min: 0,
        max: format_number(@dedication.duration),
        value: "#{ f.object.new_record? ? format_number(@dedication.duration) : format_number(f.object.quantity) }"
      }
    %> 
  </td>
  <td>
    <%= f.collection_select :assistance_status_id, @assistance_statuses, :id, :name, {label: false },
      { class: "selectpicker", size: 6, :data => {width: "200px"},
        "data-none-results-text" => "No se encontró docente", "data-live-search"=>false,
        "title"=>"Seleccionar",
      }
    %>
  </td>
  <td>
    <h4>
    <span class="badge badge-info total-credit">
      <%= f.object.new_record? ? format_number(@dedication.credit * @dedication.duration) : format_number(f.object.total_credit) %>
    </span>
    </h4>
  </td>
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-sm', tabindex: -1,
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>