<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-danger text-white">
      <h4><%= fa_icon "trash" %> Enviar a papelera la reunión <%= @dedication.name %></h4>
    </div>
    <div class="card-body">
      <p>
        Está seguro que desea enviar a la papelera la reunión <%= @dedication.name %>? 
      </p>
    </div>
    <div class="card-footer text-right">
      <%= link_to dedications_path, class: "btn btn-light mr-2" do %>
        Volver
      <% end %>
      <a data-remote='true' data-method='delete' href='/dedications/<%= @dedication.id %>>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>
    </div>
  </div>
</div>