<div class="card">
  <div class="card-header">
    <h3 class="title">
      <%= fa_icon "users" %> Dedicaciones
      <%= link_to new_dedication_path, class: "btn btn-primary" do %>
        <%= fa_icon "plus" %> 
        Nueva
      <% end %>
    </h3>
  </div>
  <div class="card-body fixed-panel-index">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Horas</th>
            <th>Docentes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dedications.each do |dedication| %>
            <tr>
              <td><%= dedication.name %></td>
              <td><%= format_number(dedication.hours) %></td>
              <td><span class="badge badge-secondary"><%= dedication.teachers.count %></span></td>
              <td class="text-right">
                <%= link_to dedication_path(dedication), class: 'btn btn-secondary', 
                  title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon "eye" %>
                <% end %>
                <%= link_to assign_dedication_dedication_path(dedication), class: 'btn btn-success', 
                  title: 'Asignar crédito', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon "business-time" %>
                <% end %>
                <%= link_to edit_dedication_path(dedication), class: 'btn btn-warning', 
                  title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon "edit" %>
                <% end %>
                <%= link_to delete_dedication_path(dedication),
                  class: 'btn btn-danger', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <%= fa_icon "trash" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
