<tr id="user_<%= user.id %>">
  <td>
    <%= user.profile.last_name.present? ? user.profile.last_name : '----' %>,
    <%= user.profile.first_name.present? ? user.profile.first_name : '----'%>
  </td>
  <td></td>
  <td><%= user.profile.email.present? ? user.profile.email : '----' %></td>
  <td><%= user.updated_at.strftime("%d/%m/%Y")%> </td>
  <td class="text-right">
    <% if policy(user).show? %>
      <%= link_to users_admin_path(user), class: 'btn btn-secondary', 
        title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "eye" %>
      <% end %>
    <% end %>
    <% if policy(user).edit? %>
      <%= link_to edit_users_admin_path(user), class: 'btn btn-warning', 
        title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "edit" %>
      <% end %>
    <% end %>
    <% if policy(user).edit_permissions? %>
      <%= link_to edit_permissions_users_admin_path(user), class: 'btn btn-warning', 
        title: 'Editar permisos', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "lock" %>
      <% end %>
    <% end %>
  </td>
</tr>
