<div class="col-lg-8 col-md-12 mx-auto">
  <div class="card">
    <div class="card-header bg-warning">
      <h4><%= fa_icon "edit" %> Editando usuario</h4>
    </div>
    <div class="card-body">
      <%= simple_form_for @user, url: users_admin_path, action: :put, html: { role: 'check-modified'} do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="col-md-12"><h4>Usuario</h4></div>
          <div class="col-md-6">
            <%= f.input :username, as: :integer, label: "DNI"%>
          </div>
          <div class="col-md-6">
            <%= f.input :password, label: "Contraseña", required: false %>
          </div>
        </div>
        <div class="row">
          <%= f.simple_fields_for :profile do |profile| %>
            <div class="col-md-12"><h4>Perfil</h4></div>
            <div class="col-md-6">
              <%= image_tag user_avatar(@user, 300), class:"img-thumbnail" %>
            </div>  
            <div class="col-md-6">
                <%= profile.input :last_name, label: "Apellido" %>
                <%= profile.input :first_name, label: "Nombre" %>
                <%= profile.input :email, label: "Email" %>
                <%= profile.simple_fields_for :teacher do |teacher| %>
                  <%= teacher.input :employee_num,
                    label: "Número de empleado",
                    required: true
                  %>
                <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <button type='submit' name='commit' class='btn btn-success pull-right' form='edit_user_<%=@user.id%>'>
        <%= fa_icon "save" %> Guardar cambios
      </button>
      <%= link_to users_admin_index_path, class: "btn btn-light pull-right" do %>
        Volver
      <% end %>
    </div>
  </div>
</div>