<h4 class="row mb-0 pb-0">
  <div class="col-8 mb-0 pb-0"><%= fa_icon "project-diagram" %> Proyectos</div>
  <div class="col-4 text-right mb-0 pb-0">
  </div>
</h4>
<hr class="mt-0">
<div class="col-10 mx-auto">
  <% if projects.present? %>
    <div class="row border-bottom">
      <div class="col">
        Nombre
      </div>
      <div class="col">
        Tipo
      </div>
      <div class="col">
        Rol
      </div>
      <div class="col">
        Horas semanales
      </div>
      <div class="col">
        Créditos
      </div>
    </div>
    <% projects.each do |project| %>
      <div class="row">
        <div class="col">
          <%= project.project.name %>
        </div>
        <div class="col">
          <%= project.project.project_type_name %>
        </div>
        <div class="col">
          <%= project.project_role_name %>
        </div>
        <div class="col">
          <%= pluralize(format_number(project.week_hours), "hora") %>
        </div>
        <div class="col">
          <%= format_number(project.total_credit) %>
        </div>
      </div>
    <% end %>
    <div class="row table-info">
      <div class="col">
        Total
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
        <%= number_to_currency(@teacher.total_project_credits, unit: "créditos", format: "%n %u") %>
      </div>
    </div>
  <% else %>
    No tienes formaciones
  <% end %>
</div>