<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to assignatures_path, class: "list-group-item list-group-item-action justify-content-between align-items-center" do %>
        1) Asignaturas
        <span class="badge badge-primary badge-pill pull-right"><%= Assignature.count %></span>
      <% end %>
      <%= link_to dedications_path, class: "list-group-item list-group-item-action justify-content-between align-items-center" do %>
        2) Dedicaciones
        <span class="badge badge-primary badge-pill pull-right"><%= Dedication.count %></span>
      <% end %>
      <%= link_to users_admin_index_path, class: "list-group-item list-group-item-action justify-content-between align-items-center" do %>
        Usuarios / docentes
        <span class="badge badge-primary badge-pill pull-right"><%= User.count %></span>
      <% end %>
    </div>
  </div>
</div>