<div class="mx-auto col-10">
  <div class="card">
    <div class="card-header">
      <div class="h4 d-flex justify-content-start align-items-center">
        <%= fa_icon "file-alt", class: 'mr-2'%> 
        Mi currículum anual 
        <div class="dropdown ml-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @year.year %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% (2019..Date.today.year).step(1) do |year| %>
              <%= link_to year, root_path(year: year), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body fixed-panel-cv">
      <div class="row">
        <div class="col-12">
          <div class="media mb-3">
            <%= image_tag('profile-placeholder.png', size: "100x100", class: "align-self-center img-thumbnail mr-3") %>
            <div class="media-body">
              <h5 class="mt-0"><%= current_user.fullname %></h5>
              <p><% if current_user.email.present? %><%=fa_icon "envelope" %> <%= current_user.email %><% end %></p>
              <p class="mb-0">N° Empleado <%= current_user.employee_num %></p>
            </div>
          </div>
          <!-- Asignatures -->
          <%= render "assignatures", assignatures: @assignatures %>

          <!-- Meetings -->
          <%= render "meetings", meetings: @meetings %>
          <br>
          <!-- Extension activities -->
          <%= render "extension_activities", extension_activities: @extension_activities %>
          <br>
          <!-- Formations -->
          <%= render "formations", formations: @formations %>
          <br>
          <!-- Posts -->
          <%= render "posts", posts: @posts %>
          <br>
          <!-- Projects -->
          <%= render "projects", projects: @projects %>
        </div>
      </div>
    </div>
  </div>
</div>