<div class="mx-auto col-10">
  <div class="card">
    <div class="card-header">
      <h3><%= fa_icon "file-alt"%> Mi currículum anual</h3>
    </div>
    <div class="card-body">
      <div class="row pl-3">
        <div class="col-3 rounded full-height-cv bg-info text-center pt-3">
          <%= image_tag asset_path('profile-placeholder.png'), class:"img-thumbnail rounded-circle card-img-top" %>
          <p>
            <h4 class="text-white"><%= current_user.fullname %></h4>
          </p>
          <p>
            <% if current_user.email.present? %>
              <h5 class="text-white">
                <%=fa_icon "envelope" %> <%= current_user.email %>
              </h5>
            <% end %>
          </p>
          <p>
            <% if current_user.employee_num.present? %>
              <h5 class="text-white">
                N° Empleado <%= current_user.employee_num %>
              </h5>
            <% end %>
          </p>
        </div>
        <div class="col-9 fixed-panel-list">
          <!-- Asignatures -->
          <%= render "assignatures", assignatures: @assignatures%>

          <!-- Meetings -->
          <h4 class="row mt-3 mb-0 pb-0">
            <div class="col-8 mb-0 pb-0"><%= fa_icon "users" %> Reuniones</div>
          </h4>
          <hr class="mt-0">
          <div class="col-10 mx-auto">
            <% if @meetings.present? %>
              <div class="row border-bottom">
                <div class="col">
                  Nombre
                </div>
                <div class="col">
                  Crédito
                </div>
              </div>
              <% @meetings.each do |meeting| %>
                <div class="row">
                  <div class="col">
                    <%= meeting.name %>
                  </div>
                  <div class="col">
                    <%= meeting.total_credit %>
                  </div>
                </div>
              <% end %>
              <div class="row table-info">
                <div class="col">
                  Total
                </div>
                <div class="col">
                  <%= number_to_currency(@meetings.sum(:total_credit), unit: "créditos", format: "%n %u") %>
                </div>
              </div>
            <% else %>
              No tienes reuniones
            <% end %>
          </div>
          <!-- End meetings -->

          <!-- Extension activities -->
          <%= render "extension_activities", extension_activities: @extension_activities %>

          <!-- Formations -->
          <%= render "formations", formations: @formations %>

          <!-- Posts -->
          <%= render "posts", posts: @posts %>

        </div>
      </div>
    </div>
  </div>
</div>