<%=  simple_form_for(project) do |f| %>
<div class="row">
  <div class='col-6'>
    <%= f.input :code, label: 'Código' %>
    <%= f.input :name, label: 'Nombre' %>
  </div>
  <div class="col-6">
    <%= f.input :observation, label: "Observaciones", input_html: { cols: 1, rows: 1 } %>
    <div class="form-group">
      <label class="form-control-label">Tipo de proyecto</label>
      <%= f.collection_select :project_type_id, ProjectType.all, :id, :name, {}, 
        { class: "selectpicker", size: 6, :data => {width: "100%"},
        "title"=>"Seleccionar",
        }
      %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label>Docentes</label>
    <%= f.collection_select :teacher_ids, @teachers, :id, :fullname,
      { label: "Docentes" },
      { class: "selectpicker", multiple: true, :data => {width: "100%"},
        "data-none-results-text" => "No se encontró docente", "data-live-search"=>true,
        "title"=>"Seleccionar docentes",
      }
    %>
  </div>
</div>
<% end %>
