<%=  simple_form_for(project) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class='col-6'>
      <%= f.input :code, label: 'Código' %>
    </div>
    <div class="col-6">
      <%= f.input :week_duration, label: 'Semanas' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.input :name, label: 'Nombre' %>
    </div>
    <div class="col-12">
      <label class="form-control-label">Tipo de proyecto</label>
      <%= f.collection_select :project_type_id, ProjectType.all, :id, :name, {}, 
        { class: "selectpicker", size: 6, :data => {width: "100%"},
        "title"=>"Seleccionar",
        }
      %>
    </div>
    <div class="col-12 mt-3">
      <%= f.input :observation, label: "Observaciones", input_html: { cols: 1, rows: 2 } %>
    </div>
  </div>
<% end %>
