<%=  simple_form_for(project) do |f| %>
  <div class='row'>
    <div class='col-md-12'>
      <div class="row">
        <div class='col-md-6'>
          <%= f.input :name, label: 'Nombre' %>
          <%= f.input :observation, label: 'Observación' %>
          <%= f.label :teachers, "Docentes citados" %>
          <%= f.collection_select :teacher_ids, @teachers, :id, :fullname, {label: "Docentes" }, 
            { class: "selectpicker", multiple: true, size: 6, :data => {width: "320px"},
              "data-none-results-text" => "No se encontró docente", "data-live-search"=>true,
              "title"=>"Seleccionar docentes",
            }
          %>
        </div><br>
        <div class="col-md-6">
          <%= f.input :credit, label: "Crédito", :input_html => { min: 0, value: "#{format_number(project.credit)}" } %>
          <%= f.input :duration, label: "Duración máx", :input_html => { min: 0, value: "#{format_number(project.credit)}" } %>
          <%= f.input :unity, label: "Unidad (singular)", placeholder: "Ej: Hora" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
