<tr class="nested-fields">
  <td style="width:25%">
    <%= f.collection_select :teacher_id, @teachers, :id, :fullname, {label: false }, 
      { class: "selectpicker", size: 6, :data => {width: "250px"},
        "data-none-results-text" => "No se encontró docente", "data-live-search"=>true,
        "title"=>"Seleccionar", value: "#{ f.object.teacher.present? ? f.object.teacher.id : "" }"
      }
    %>
  </td>
  <td>
    <%= f.collection_select :project_role_id, @project_roles, :id, :name, {label: false }, 
      { class: "selectpicker", size: 6, :data => {width: "250px"},
        "title"=>"Seleccionar", value: "#{ f.object.project_role.present? ? f.object.project_role.id : "" }"
      }
    %>
  </td>
  <td>
    <%= f.input :week_hours, label: false, :input_html => { min: 0, :style=> 'width: 30%' } %>
  </td>
  <td>
    <h4>
    <span class="badge badge-info total-credit">
    0
    </span>
    </h4>
  </td>
  <td>
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-sm', tabindex: -1,
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>