<div class="card">
  <div class="card-header">
    <h3 class="title">
      <%= fa_icon "users" %> Proyectos
      <% if policy(Project).new? %>
        <%= link_to new_project_path, class: "btn btn-primary" do %>
          <%= fa_icon "plus" %> 
          Nuevo
        <% end %>
      <% end %>
    </h3>
  </div>
  <div class="card-body fixed-panel-index">
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Participantes</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.code %></td>
              <td><%= project.name %></td>
              <td><%= project.project_type_name %></td>
              <td><span class="badge badge-secondary"><%= project.teachers.count %></span></td>
              <td class="text-right">
                <% if policy(project).show? %>
                  <%= link_to project_path(project), class: 'btn btn-secondary btn-md', 
                    title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "eye" %>
                  <% end %>
                <% end %>
                <% if policy(project).assign_dedication? %>
                  <%= link_to assign_dedication_project_path(project), class: 'btn btn-success btn-md', 
                    title: 'Asignar crédito', data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "business-time" %>
                  <% end %>
                <% end %>
                <% if policy(project).edit? %>
                  <%= link_to edit_project_path(project), class: 'btn btn-warning btn-md', 
                    title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "edit" %>
                  <% end %>
                <% end %>
                <% if policy(project).destroy? %>
                  <%= link_to delete_project_path(project), remote: true,
                    class: 'btn btn-danger btn-md', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
                    <%= fa_icon "trash" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
