<div class="card">
  <div class="card-header">
    <h4><%= fa_icon "eye" %> Viendo proyecto <%= @project.name %></h4>
  </div>
  <div class="card-body fixed-panel">
    <div class="row">
      <p class="col-3">
        <strong>Código:</strong>
        <%= @project.code %>
      </p>
      <p class="col-3">
        <strong>Nombre:</strong>
        <%= @project.name %>
      </p>
      <p class="col-3">
        <strong>Tipo:</strong>
        <%= @project.project_type_name %>
      </p>
      <p class="col-3">
        <strong>Duración:</strong>
        <%= format_number(@project.duration) %> horas
      </p>
      <p class="col-12">
        <strong>Observaciones:</strong>
        <%= @project.observation %>
      </p>
    </div>
    <div class="row">
      <div class="col-8 mx-auto">
        <% if @project.teachers.present? %>
          <div class="card">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Docente</th>
                  <th>Rol</th>
                  <th>Crédito</th>
                </tr>
              </thead>
              <tbody>
                <% @project.teacher_projects.each do |teacher_project| %>
                  <tr>
                    <td><%= teacher_project.teacher_fullname %></td>
                    <td><%= teacher_project.project_role.name %></td>
                    <td><%= format_number(teacher_project.total_credit) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to projects_path, class: "btn btn-light mr-1" do %>
      Volver
    <% end %>
    <%= link_to edit_project_path(@project), class: "btn btn-warning mr-1" do %>
      <%= fa_icon "edit" %>
      Editar
    <% end %>
    <%= link_to assign_dedication_project_path(@project), class: 'btn btn-success' do %>
      <%= fa_icon "business-time" %>
      Asignar dedicaciones
    <% end %>
  </div>
</div>