<div class="col-lg-3 col-md-4 col-sm-12 mx-auto">
  <div class="card rounded-0">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <div class="card-header text-center">
        <%= image_tag("uncoma-1.png", size: "100x100", alt: "Logo Sifaho", class:"mx-auto d-block") %>
      </div>
      <%= devise_error_messages! %>
      <div class="card-body">
        <div class="form-group">
          <%- if devise_mapping.registerable? %>
            <%= link_to 'Registrarse', new_registration_path(resource_name), class: 'right'  %>
          <% end -%>
          <%= f.label 'Usuario' %>
          <%= f.text_field :username, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%- if devise_mapping.recoverable? %>
            <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name), class: 'right' %>
          <% end -%>
          <%= f.label 'Contraseña' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox" style="width:150px">
            <label>
              <%= f.check_box :remember_me %> Recordarme
            </label>
          </div>
        <% end -%>
        <%= f.submit 'Iniciar sesión', class: 'btn btn-success btn-md btn-block', data: { disable_with: "Iniciando..." } %>
      </div>
    <% end %>
  </div>
</div>