<%=  simple_form_for(formation) do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class="col-12">
      <%= f.input :name, label: 'Nombre' %>
    </div>
    <div class="col-12">
      <%= f.input :observation, label: 'Observaciones' %>
    </div>
  </div>
  <div class="row">
    <div class='col-6'>
      <%= f.label :formation, "Tipo de formaci贸n" %>
      <%= f.collection_select :formation_type_id, @formation_types, :id, :name, {label: "Tipo de formaci贸n" }, 
        { class: "selectpicker", size: 6, :data => {width: "100%"},
          "title"=>"Seleccionar tipo",
        }
      %>
    </div>
    <div class="col-6">
      <%= f.input :certificate, label: 'Certificado', input_html: { class: "selectpicker" },:collection => Formation.certificates.keys.to_a %>
    </div>
  </div>
  <% if policy(Formation).autoassign_formation? %>
    <div class="row">
      <%= f.simple_fields_for :teacher_formations, formation.teacher_formations do |tf| %>
        <%= tf.input :teacher_id, :as => :hidden, :input_html => { class: 'supply-id', value: tf.object.teacher_id } %>
        <div class="col-12">
          <%= tf.collection_select :teacher_formation_role_id, @teacher_formation_roles, :id, :name, {},
            { 
              class: "selectpicker", size: 6, :data => {width: "100%"},
              required: true,
              "title"=>"Seleccionar rol",
              label: "Rol en la formaci贸n"
            }
          %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row mt-2">
    <div class="col-6">
      <%= f.input :init_date,  as: :tempus_dominus, label: 'Fecha de inicio',
        input_html: {
          :placeholder => "Seleccionar fecha",
          autocomplete: 'off', 
          required: true,
          value: "#{f.object.new_record? ? DateTime.now.strftime("%d/%m/%y") : f.object.init_date.strftime("%d/%m/%y")}"
        },
        html5: false
      %>
    </div>
    <div class="col-6">
      <%= f.input :hours, label: "Duraci贸n (horas)" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.input :link, as: :string, label: "Link a certificado (ej. Google Drive)", :placeholder => "Pegue la URL" %>
    </div>
  </div>
<% end %>
