<%=  simple_form_for(formation) do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class="col-12">
      <%= f.input :name, label: 'Nombre' %>
    </div>
    <div class="col-12">
      <%= f.input :observation, label: 'Observaciones' %>
    </div>
  </div>
  <div class="row">
    <div class='col-6'>
      <%= f.label :formation, "Tipo de formación" %>
      <%= f.collection_select :formation_type_id, @formation_types, :id, :name, {label: "Tipo de formación" }, 
        { class: "selectpicker", size: 6, :data => {width: "100%"},
          "title"=>"Seleccionar tipo",
        }
      %>
    </div>
    <div class="col-6">
      <%= f.input :certificate, label: 'Certificado', input_html: { class: "selectpicker" },:collection => Formation.certificates.keys.to_a %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= f.input :init_date,  as: :tempus_dominus, label: 'Fecha de inicio',
        input_html: {
          :placeholder => "Seleccionar fecha",
          autocomplete: 'off', 
          required: true,
          value: "#{f.object.new_record? ? DateTime.now.strftime("%d/%m/%y") : f.object.init_date.strftime("%d/%m/%y")}"
        },
        html5: false
      %>
    </div>
    <div class="col-6">
      <%= f.input :hours, label: "Duración (horas)" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.input :link, as: :string, label: "Link para más información", :placeholder => "Pegue la URL" %>
    </div>
  </div>
<% end %>
