<div id="filterrific_results">
  <% if @formations.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th><%= filterrific_sorting_link(@filterrific, :fecha_inicio) %></th>
            <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
            <th>Tipo</th>
            <th>Docentes</th>
            <th>Estado</th>
            <th>Duración</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="formations">
          <%= render @formations %>
        </tbody>
      </table>
    </div>
    <div id="page_links">
      <%= will_paginate @formations, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'formaciones' }
    ) %>
  <% end %>
</div>