<div class="card">
  <div class="card-header">
    <div class="row d-flex align-items-center">
      <div class="col-3 h5">
        <%= fa_icon "user-graduate" %> Formaciones
        <% if policy(Formation).new? %>
          <%= link_to new_formation_path, class: "btn btn-primary" do %>
            <%= fa_icon "plus" %> 
            Nueva
          <% end %>
        <% end %>
      </div>
      <div class="col-9">
        <%= render 'filter' %>
      </div>
    </div>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @formations.present? %>
      <%= render(
        partial: 'formations/list',
        locals: { formations: @formations }
      ) %>
    <% else %>
      <%= render(
        partial: 'shared/not_found',
        locals: { object_name: 'formaciones' }
      ) %>
    <% end %>
  </div>
</div>