<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><%= fa_icon "plus" %> Nueva formación</h4>
    </div>
    <div class="card-body">
      <%= render 'form', formation: @formation %>
    </div>
    <div class="card-footer text-right">
      <% if policy(Formation).index? %>
        <%= link_to formations_path, class: "btn btn-light mr-1" do %>
          Volver
        <% end %>
      <% else %>
        <%= link_to root_path, class: "btn btn-light mr-1" do %>
          Volver
        <% end %>
      <% end %>
      <button type='submit' name='commit' class='btn btn-success' form='new_formation'>
        <%= fa_icon "check" %> Crear formación
      </button>
    </div>
  </div>
</div>