<div class="card">
  <div class="card-header">
    <div class="row d-flex align-items-center">
      <div class="col-3 h5">
        <%= fa_icon "file-alt" %> Publicaciones
        <% if policy(Post).new? %>
          <%= link_to new_post_path, class: "btn btn-primary" do %>
            <%= fa_icon "plus" %> 
            Nueva
          <% end %>
        <% end %>
      </div>
      <div class="col-9">
        <%= render 'filter' %>
      </div>
    </div>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @posts.present? %>
      <%= render(
        partial: 'posts/list',
        locals: { posts: @posts }
      ) %>
    <% else %>
      <%= render(
        partial: 'shared/not_found',
        locals: { object_name: 'publicaciones' }
      ) %>
    <% end %>
  </div>
</div>

