<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <h3 class="title">
          <%= fa_icon "user-tie" %> Publicaciones
          <%= link_to new_post_path, class: "btn btn-primary" do %>
            <%= fa_icon "plus" %>
            Nuevo
          <% end %>
        </h3>
      </div>
      <div class="col-md-1"><%= render_filterrific_spinner %></div>
      <div class="col-md-3">
        <%= form_for_filterrific @filterrific do |f| %>
          <div class="input-group">
            <%= f.text_field(
              :search_by_name,
              class: 'filterrific-periodically-observed form-control py-2 border-right-0 border',
              placeholder: 'Nombre',
              autocomplete: 'off',
              ) 
            %> 
            <span class="input-group-append">
              <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @posts.present? %>
      <%= render(
        partial: 'posts/list',
        locals: { posts: @posts }
      ) %>
    <% else %>
      <%= render(
        partial: 'shared/not_found',
        locals: { object_name: 'publicaciones' }
      ) %>
    <% end %>
  </div>
</div>

