<div class="col-lg-8 col-md-12 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
    <h4><%= fa_icon "plus" %> Nueva publicación</h4>
    </div>
    <div class="card-body">
      <%= render 'form', post: @post %>
    </div>
    <div class="card-footer text-right">
      <% if policy(Post).index? %>
        <%= link_to posts_path, class: "btn btn-light mr-1" do %>
          Volver
        <% end %>
      <% else %>
        <%= link_to root_path, class: "btn btn-light mr-1" do %>
          Volver
        <% end %>
      <% end %>
      <button type='submit' name='commit' class='btn btn-success' form='new_post'>
        <%= fa_icon "check" %> Crear
      </button>
    </div>
  </div>
</div>