<!-- Sidebar -->
<div class="navbar-dark bg-dark" id="sidebar-wrapper">
  <div class="sidebar-heading">    
    <a class="navbar-brand" id="lig-brand" href="/">
      <%= image_tag("uncoma-1.png", size: "55x55", alt: "Logo Uncoma", class: 'logo') %>
      AUSMA SED
    </a>
  </div>
  <div class="list-group list-group-flush">
    <% if policy(Assignature).index? %>
        <%= link_to assignatures_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('assignatures')}" do %>
          <%= fa_icon "chalkboard-teacher" %> Asignaturas
        <% end %>
    <% end %>
    <% if policy(Dedication).index? %>
        <%= link_to dedications_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('dedications')}" do %>
          <%= fa_icon "users" %> Reuniones
        <% end %>
    <% end %>
    <% if policy(ExtensionActivity).index? %>
        <%= link_to extension_activities_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('extension_activities')}" do %>
          <%= fa_icon "hiking" %> Actividades
        <% end %>
    <% end %>
    <% if policy(User).index? %>
        <%= link_to users_admin_index_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('users')}" do %>
          <%= fa_icon "user-tie" %> Docentes
        <% end %>
    <% end %>
    
    <%# <% if policy(User).index? %> 
        <%= link_to posts_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('posts')}" do %>
          <%= fa_icon "file-alt" %> Publicaciones
        <%# end %>
    <% end %>
  </div>
</div>