<!-- Sidebar -->
<div class="navbar-dark bg-dark" id="sidebar-wrapper">
  <div class="sidebar-heading">    
    <a class="navbar-brand" id="lig-brand" href="/">
      <%= image_tag("uncoma-1.png", size: "55x55", alt: "Logo Uncoma", class: 'logo') %>
      AUSMA SED
    </a>
  </div>
  <div class="list-group list-group-flush">
    <% if policy(Assignature).index? %>
        <%= link_to assignatures_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('assignatures')}" do %>
          <%= fa_icon "chalkboard-teacher" %> Asignaturas
        <% end %>
    <% end %>
    <% if policy(Meeting).index? %>
        <%= link_to meetings_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('meetings')}" do %>
          <%= fa_icon "users" %> Reuniones
        <% end %>
    <% end %>
    <% if policy(ExtensionActivity).index? %>
        <%= link_to extension_activities_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('extension_activities')}" do %>
          <%= fa_icon "hiking" %> Extensión
        <% end %>
    <% end %>
    <% if policy(Formation).index? %>
        <%= link_to formations_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('formations')}" do %>
          <%= fa_icon "user-graduate" %> Formaciones
        <% end %>
    <% end %>
    <% if policy(Post).index? %> 
        <%= link_to posts_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('posts')}" do %>
          <%= fa_icon "file-alt" %> Publicaciones
        <% end %>
    <% end %>
    <% if policy(User).index? %>
        <%= link_to users_admin_index_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('users')}" do %>
          <%= fa_icon "user-tie" %> Docentes
        <% end %>
    <% end %>
    <% if policy(User).index? %>
        <%= link_to dedications_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('dedications')}" do %>
          <%= fa_icon "clock" %> Dedicaciones
        <% end %>
    <% end %>
    <% if policy(Project).index? %>
        <%= link_to projects_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('projects')}" do %>
          <%= fa_icon "user-tie" %> Proyectos
        <% end %>
    <% end %>
    <% if policy(MonthPresence).index? %>
      <%= link_to month_presences_path, class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('month_presences')}" do %>
        <%= fa_icon "clipboard-check" %> Asistencias
      <% end %>
    <% end %>
    <% if policy(Config).show? %>
      <%= link_to config_path(Config.first), class: "list-group-item list-group-item-action list-custom bg-dark #{active_class('configs')}" do %>
        <%= fa_icon "cog" %> Configuración
      <% end %>
    <% end %>
  </div>
</div>
