<!DOCTYPE html>
<html>
  <head>
    <title>Ausma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>AUSMA - Universidad Nacional del Comahue 2019</title>
  </head>

  <body>
    <!-- Navigation -->
    <%= render "layouts/header"%>
    <div class="corner-ribbon bottom-right sticky orange shadow">ALFA</div>
    <style>
      body {
        background-image: url("<%= asset_path('bg-masthead.jpg') %>");
        background-repeat: no-repeat;
      }
    </style>
    <div class="container<%= yield :container %>">
      <%= render "layouts/flash_notices" %>
      <%= render "shared/dialog" %>
      <%= yield %>
    </div>
  </body>
</html>


