<!DOCTYPE html>
<html>
  <head>
    <title>AUSMA SED</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'uncoma-1.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="d-flex" id="wrapper">
    <div class="corner-ribbon bottom-right sticky orange shadow">ALFA</div>
      <!-- Sidebar -->
      <% if user_signed_in? %>
        <%= render 'layouts/side_navigation' %>
      <% end %>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <% if user_signed_in? %>
          <%= render 'layouts/navigation' %>
        <% end %>
        <div class="container-fluid">
          <%= render "layouts/flash_notices" %>
          <style>
            body {
              background-image: url("<%= asset_path('bg-masthead.jpg') %>");
              background-repeat: no-repeat;
            }
          </style>
          <br>
          <%= yield %>
          <%= render "shared/dialog" %>
        </div>
      </div>
    </div>
  </body>
</html>


